# Theory

1. What are data structures, and why are they important.
  - **Data structures** are ways to organize and store data so that it can be accessed and modified efficiently.
  - They are important because they help improve the performance of algorithms and allow for efficient data manipulation. Examples include arrays, lists, stacks, queues, trees, graphs, and hash tables.


2. Explain the difference between mutable and immutable data types with examples
  - **Mutable** data types can be changed after they are created. Example: lists and dictionaries in Python. You can add, remove, or change elements in them.
  - **Immutable** data types cannot be modified once they are created. Example: strings and tuples in Python.


3. What are the main differences between lists and tuples in Python
  - **Lists** are mutable (can be changed after creation), can have elements added, removed, or modified. Lists are created using square brackets [ ].
  - **Tuples** are immutable (cannot be changed after creation), and their size cannot be modified. Tuples are created using parentheses ( ).


4.  Describe how dictionaries store data
  - **Dictionaries** store data as key-value pairs, where each key is unique, and each key maps to a specific value. Internally, they use a hash table for efficient data retrieval.


5. Why might you use a set instead of a list in Python
  - A **set** is useful when you need to store unique values and don’t care about order. Sets automatically remove duplicate elements, which makes them efficient for membership tests (checking if an element is in the set).


6. What is a string in Python, and how is it different from a list
   - A **string** in Python is a sequence of characters enclosed in quotes, and it is **immutable** (cannot be changed after creation).
   - A **list** is a collection of elements that can be of any data type, and it is **mutable** (can be changed).


7. How do tuples ensure data integrity in Python
  - **Tuples** ensure data integrity because they are **immutable**, meaning once a tuple is created, its contents cannot be modified. This helps ensure that the data cannot be accidentally changed.


8. What is a hash table, and how does it relate to dictionaries in Python
  - A **hash table** is a data structure that maps keys to values using a hash function, which ensures efficient searching, insertion, and deletion.
  - **Dictionaries** in Python are implemented using hash tables, where keys are hashed, and the values are stored in the corresponding hash slots.


9. Can lists contain different data types in Python
  - **Lists** in Python can contain elements of different data types. For example, you can have integers, strings, and other lists inside one list.


10. Explain why strings are immutable in Python
  - **Strings** are immutable to ensure that their contents remain consistent and to optimize memory management. Since strings are commonly used in many places, making them immutable allows Python to efficiently manage memory and avoid unintended side effects from modifying strings.


11. What advantages do dictionaries offer over lists for certain tasks
  - **Strings** are immutable to ensure that their contents remain consistent and to optimize memory management. Since strings are commonly used in many places, making them immutable allows Python to efficiently manage memory and avoid unintended side effects from modifying strings.


12. Describe a scenario where using a tuple would be preferable over a list
  - A **tuple** would be preferable over a list when you want to ensure that the data is not modified, such as when storing a collection of values that should remain constant throughout the program (e.g., coordinates, RGB color values).


13. How do sets handle duplicate values in Python
  - **Sets** automatically eliminate duplicates, meaning that only unique elements are stored. If you try to add a duplicate element, it will not be added to the set.


14. How does the “in” keyword work differently for lists and dictionaries
  - For **lists**, the “in” keyword checks if an element is present in the list.
  - For **dictionaries**, the “in” keyword checks if a **key** is present in the dictionary.


15. Can you modify the elements of a tuple? Explain why or why not
  - Elements in a **Tuple** cannot be modified because they are **immutable**. Once a tuple is created, its elements cannot be changed, added, or removed. This ensures data integrity and prevents accidental modifications.


16. What is a nested dictionary, and give an example of its use case
  - A **nested dictionary** is a dictionary where the values are themselves dictionaries.
  - This is useful when you need to represent hierarchical or multi-level data.


17. Describe the time complexity of accessing elements in a dictionary
  - Accessing elements in a **dictionary** is generally **O(1)** (constant time) on average because of the hash table implementation, which allows for fast lookups by key.


18. In what situations are lists preferred over dictionaries
  - **Lists** are preferred when you need to store an ordered collection of items and the order of the elements matters. They are also suitable when you need to work with indexed data (e.g., iterating over elements in a sequence).


19. Why are dictionaries considered unordered, and how does that affect data retrieval
  - **Dictionaries** are considered unordered because they do not maintain the order of insertion. This affects data retrieval because, while you can quickly access data using a key, you cannot rely on the order in which items are stored.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - **Lists** retrieve data by index, whereas **dictionaries** retrieve data by key. Lists are ordered collections, whereas dictionaries store key-value pairs and allow faster lookups by key.

# Practicals

### 1. Write a code to create a string with your name and print it

In [2]:
name = "Nikhil Jha"
print(f'My Name is {name}')

My Name is Nikhil Jha

### 2. Write a code to find the length of the string "Hello World"

In [3]:
s = "Hello World"
l = len(s)
print(f'Length of string {s} is {l}')

Length of string Hello World is 11

###  3. Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
s = "Python Programming"
s[:3]

'Pyt'

### 4. Write a code to convert the string "hello" to uppercase

In [5]:
s = "hello"
s.upper()

'HELLO'

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [8]:
s = "I like apple"
s.replace("apple","orange")

'I like orange'

### 6. Write a code to create a list with numbers 1 to 5 and print it

In [10]:
n = range(1,6)
l = list(n)
print(l)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [12]:
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [16]:
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [17]:
l = ['a','b','c','d']
l[1]

'b'

### 10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [20]:
l = [10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [21]:
t = (100,200,300)
print(t)

(100, 200, 300)

###  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [22]:
t = ('red','green','blue','yellow')
t[-2]

'blue'

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [23]:
t = (10,20,5,15)
min(t)

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [24]:
t = ('dog','cat','rabbit')
t.index('cat')

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
t = ('mango','papaya','kiwi')
"kiwi" in t

True

###  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [30]:
k = {'a','b','c'}
print(k)

{'b', 'a', 'c'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [31]:
k  = {1,2,3,4,5}
k.clear()
print(k)

set()

###  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [32]:
k = {1,2,3,4}
k.remove(4)
print(k)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [33]:
k1 = {1,2,3}
k2 = {3,4,5}
k1.union(k2)

{1, 2, 3, 4, 5}

###  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [34]:
k1 = {1,2,3}
k2 = {2,3,4}
k1.intersection(k2)

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [36]:
d = {"name":"Nikhil","age":40,"city":"Bengaluru"}
print(d)

{'name': 'Nikhil', 'age': 40, 'city': 'Bengaluru'}

###  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [37]:
d = {'name': 'John', 'age': 25}
d['country'] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [38]:
d = {'name': 'Alice', 'age': 30}
d['name']

'Alice'

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [40]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [51]:
d = {'name':'ALice','city':'Paris'}
'city' in d

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [62]:
l = [1,2,3]
t = (100,300,200)
d = {"name":"Nikhil","age":40}
print(l)
print(t)
print(d)

#Also possible through print(l,t,d)

[1, 2, 3]
(100, 300, 200)
{'name': 'Nikhil', 'age': 40}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [74]:
import random
n = range(1,101)
l = random.sample(n,5)
l.sort()
print(l)

[38, 55, 97, 98, 100]

### 28. Write a code to create a list with strings and print the element at the third index

In [79]:
l = ['Tom','Jerry','light','dark','water','ice']
print(l[3])

dark

###  29. Write a code to combine two dictionaries into one and print the result.

In [83]:
d1 = {"name":"Nikhil","age":40}
d2 = {"city":"Bengaluru","country":"India"}
d1.update(d2)
print(d1)

{'name': 'Nikhil', 'age': 40, 'city': 'Bengaluru', 'country': 'India'}

### 30. Write a code to convert a list of strings into a set.

In [86]:
l = ['Tom','Jerry','light','dark','water','ice']
set(l)

{'Jerry', 'Tom', 'dark', 'ice', 'light', 'water'}